.DS_Store
*.dcm
2020-12__Studies/
2020-09__Studies-JohnDoe/
__pycache__/
/venv/
.project
.pydevproject
/.idea/.gitignore
/.idea/MIRDCalculation.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
